// Nextflow configuration file

manifest {
    name = 'Amplicon Nanopore Variant Calling Pipeline'
    author = 'Your Name'
    description = 'Nextflow pipeline for amplicon variant calling from Nanopore data'
    version = '1.0.0'
}

// Default parameters
params {
    index_file = ''
    ref = ''
    gff = ''
    bed = ''
    threads = 10
    min_base_qual = 20
    snpeff_db = ''
    outdir = './results'
}

// Resource allocations
process {
    cpus = { params.threads }
    memory = { 8.GB * task.attempt }
    time = { 24.h * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 3
    
    withLabel: high_memory {
        memory = { 32.GB * task.attempt }
    }
}

// Executor configuration
executor {
    name = 'local'
    queueSize = 10
}

// Docker/Singularity containers (optional)
// docker {
//     enabled = true
//     runOptions = '-u $(id -u):$(id -g)'
// }

// Timeline and reports
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/dag.dot"
}